.app-filters {
  margin: 30px 0 20px;

  .app-filter-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .select-container {
      display: flex;
      padding: 5px;
      flex-direction: column;

      .select-header {
        font-size: 13px;
      }
    }
  }

  .app-filter-reset {
    font-size: 12px;
  }
}
