body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-header,
.app-container {
  max-width: 1200px;
  margin: auto;
}

header {
  background-color: #282c34;

  .app-header {
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;

    .app-logo {
      height: 70px;
      margin-right: 20px;
    }

    .app-logo-text {
      font-size: 30px;
      font-weight: bold;
    }
  }
}

.text-blue {
  color: dodgerblue;
}
