body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;
}

.app-header,
.app-container {
  max-width: 1200px;
  margin: auto;
}

header {
  background-color: #282c34;

  .app-header {
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;

    .app-logo {
      height: 70px;
      margin-right: 20px;
    }

    .app-logo-text {
      font-size: 30px;
      font-weight: bold;
    }
  }
}

.app-container {
  .text-blue {
    color: dodgerblue;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .text-capitalize {
    text-transform: capitalize;
  }

  .text-center {
    text-align: center;
  }

  .app-selects {
    height: 40px;
    margin: 5px 0;
    min-width: 120px;
    padding: 0 10px;
    border-radius: $global-radius;
    border: 1px solid $global-border-color;
  }
}
